<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <style>
    body {
      background-color: #FFF9C4;
      text-align: center;
    }
      button {
        font-size: 20px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
      }
      h1 {
        text-align: center;
        font-size: 40px;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Do you want to buy or sell medical products?</h1>
    <div style="text-align: center;">
      <button>Buy</button>
      <button>Sell</button>
    </div>
  </body>
</html>
