<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <style>
    body {
      background-color: #FFF9C4;
      text-align: center;
    }
      button {
        font-size: 20px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
      }
      h1 {
        text-align: center;
        font-size: 40px;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Do you want to buy or sell medical products?</h1>
    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
      <div style="display: flex;">
        <form action="{% url 'home' %}" method="get" 
              style="width: 50%; margin-top: 50px;">
          <input type="submit" value="Buy" 
                 style="padding: 15px 30px; font-size: 18px; 
                        background-color: #4CAF50; color: white; border: none; 
                        border-radius: 10px;">
        </form>
        
        <div style="width: 20px;"></div>
        
        <form action="{% url 'create' %}" method="get" 
              style="width: 50%; margin-top: 50px;">
          <input type="submit" value="Sell" 
                 style="padding: 15px 30px; font-size: 18px; 
                        background-color: #4CAF50; color: white; border: none; 
                        border-radius: 10px;">
        </form>
      </div>
    </div>
  </body>
</html>
