<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #FFF9C4;
        margin: 20px;
      }
      h1 {
        font-size: 36px;
        margin-bottom: 20px;
      }
      button {
        font-size: 20px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Thank you for adding your product</h1>
    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
      <div style="display: flex;">
        <form action="{% url 'create' %}" method="get" 
              style="width: 50%; margin-top: 50px;">
          <input type="submit" value="Add another product" 
                 style="padding: 15px 30px; font-size: 18px; 
                        background-color: #4CAF50; color: white; border: none; 
                        border-radius: 10px;">
        </form>
        
        <div style="width: 20px;"></div>
        
        <form action="{% url 'home' %}" method="get" 
              style="width: 50%; margin-top: 50px;">
          <input type="submit" value="Go to the Homepage" 
                 style="padding: 15px 30px; font-size: 18px; 
                        background-color: #4CAF50; color: white; border: none; 
                        border-radius: 10px;">
        </form>
      </div>
    </div>
  </body>
</html>